.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/zlgcan/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
!src/zlgcan/**/*.dll
!src/zlgcan/**/*.node
!src/zlgcan/**/*.lib
**/.vscode-test.*
